ion-label {
	color: var(--ion-color-light-contrast);
	font-size: 14px;
}

ion-thumbnail {
	// width: 97.75px;
	width: 100%;
	// height: 82px;
	min-height: 68.4px;
	height: 100%;
	border-right-style: solid;
  border-right-width: 2px;
  border-right-color: var(--ion-color-tertiary);
}

.image-col {
	padding: 0;
}

.text-col {
	background-color: var(--ion-color-light);
}

.small-text {
	color: var(--ion-color-secondary);
	white-space: nowrap;
}
