ion-label {
	color: var(--ion-color-light-contrast);
	font-size: 16px;
}

ion-thumbnail {
	width: 97.75px;
	height: 82px;
}

.image-col {
	padding: 0;
}

.text-col {
	background-color: var(--ion-color-light);
}

.small-text {
	color: var(--ion-color-tertiary);
	white-space: nowrap;
}
