<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
		<!--drop-down list of sources, select one to change the news source and reload list of news-->
		<ion-item no-padding class="source" color="primary">
			<ion-title text-center>News</ion-title><ion-label>Source: </ion-label>
			<ion-select name="selected" [(ngModel)]="selectedSource" (ionChange)="loadSourceData($event)" interface="action-sheet" cancelText="Cancel">
				<ion-select-option *ngFor="let item of sources" value="{{item.id}}">{{item.name}}</ion-select-option>
			</ion-select>
		</ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
	<app-page-refresh slot="fixed" (ionRefresh)="onRefresh($event)"></app-page-refresh>
	<app-progress-bar *ngIf="storedData === undefined"></app-progress-bar>
	
	<!--list of news articles where source is not chosen-->
	<div class="wrapper" *ngIf="!sourceChosen">
		<div 
			class="container"
			*ngFor="let article of storedData?.articles"
			style="padding: 0;"
			(click)="onGoToNewsDetail(article)"
			router-direction="forward">
			<app-article-list [article]="article"></app-article-list>
		</div> 
	</div>

	<!--list of news articles where source is chosen-->
	<div class="wrapper" *ngIf="sourceChosen">
		<div *ngFor="let article of data?.articles"	style="padding: 0;"
			(click)="onGoToNewsDetail(article)"	router-direction="forward">
			<app-article-list [article]="article"></app-article-list>
		</div> 
	</div>
</ion-content>
