<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
		<!--drop-down list of sources, select one to change the news source and reload list of news-->
		<ion-item no-padding class="source" color="primary">
				<ion-title text-center>News</ion-title><ion-label>Source: </ion-label>
				<ion-select name="selected" [(ngModel)]="selectedSource" (ionChange)="loadSourceData($event)" interface="action-sheet" cancelText="Cancel">
					<ion-select-option *ngFor="let item of sources" value="{{item.id}}">{{item.name}}</ion-select-option>
				</ion-select>
			</ion-item>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
	<!-- add pull-to-refresh functionality -->
	<ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
		<app-page-refresh></app-page-refresh>
	</ion-refresher>

<!--	default screen 1 col size="12",	large screen: 3 cols size-lg="3",	medium screen: 4 cols size-md="4"
small screen: 2 cols size-sm="6",	v.small screen: 1 col size-xs="12" -->

<!-- 	<ion-grid>
			<ion-row>
					<ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"> -->
				
	<!--list of news articles-->
	<ion-card class="articles" color="secondary" >
		<ion-list *ngFor="let article of data?.articles" style="padding: 0;" (click)="onGoToNewsDetail(article)" router-direction="forward">
			<app-article-list [article]="article"></app-article-list>
		</ion-list>
	</ion-card>
				
<!-- 	</ion-col>
		</ion-row>	
	</ion-grid> -->

</ion-content>
