main {
	background: white;
}

.small-text {
	color: var(--ion-color-tertiary);
}

.news-text {
	display: flex;
	align-items: center;
	margin: 0;
	size: 10px;
	color: var(ion-color-primary-contrast);
}

	.space-left{
		margin-left: 5px;
	} 

ion-text {
color: var(ion-color-primary-contrast);

}

ion-segment-button {
    background-color: var( --ion-color-primary) !important;
    color: white !important;
}

.segment-button-checked {
    color: var( --ion-color-dark) !important;
}

// ion-label {
// 	background-color: var( --ion-color-primary);
// }