<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-segment scrollable [(ngModel)]="category" mode="md" color="primary" (ionChange)="changeCategory($event)">
			<ion-segment-button
				mode="md"
				value="option"
				[value]="category"
				*ngFor="let category of categories">
				<ion-label class="ion-text-capitalize">{{category}}</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="ion-no-padding">
		<ion-row>
			<ion-col size="12" size-sm="8" size-ms="8" size-xl="6" offset-sm="2" class="ion-no-padding">
	
				<app-page-refresh slot="fixed" (ionRefresh)="onRefresh($event)"></app-page-refresh>
				<app-progress-bar *ngIf="data === undefined"></app-progress-bar>
	
				<!--list of news articles by category-->
				<div class="wrapper">
					<div *ngFor="let article of data?.articles"
						(click)="onGoToNewsDetail(article)"	router-direction="forward">
						<app-article-list [article]="article"></app-article-list>
					</div> 
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
