<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Categories</ion-title>
	</ion-toolbar>
	
	<!--create list of segments to choose from. Default is 'general'-->
	<ion-segment scrollable [(ngModel)]="category" mode="md" color="primary" (ionChange)="changeCategory($event)">
		<ion-segment-button
			mode="md"
			value="option"
			[value]="category"
			*ngFor="let category of categories">
			<ion-label text-capitalize>{{category}}</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content>
	<!-- add pull-to-refresh functionality -->
	<ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
		<app-page-refresh></app-page-refresh>
	</ion-refresher>

		<!--ion-card with indeterminate progress bar that displays while news data loading-->
		<ion-card  *ngIf="data === undefined">
				<ion-card-header>
					<ion-card-title>Loading news...</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<ion-progress-bar type="indeterminate" color="secondary"></ion-progress-bar>
				</ion-card-content>
			</ion-card>
	
	<!--list of news articles by category-->
  <ion-card class="articles" color="secondary" >
		<ion-list *ngFor="let article of data?.articles" style="padding: 0;" (click)="onGoToNewsDetail(article)" router-direction="forward">
			<app-article-list [article]="article"></app-article-list>
		</ion-list>
	</ion-card>
</ion-content>
