<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-item class="ion-no-padding source" color="primary">
				<ion-title class="ion-text-center">
					<ion-icon item-start class="icon" name="options" size="large"></ion-icon>
				</ion-title>
				<ion-label class="category-label">
					{{ 'CATEGORIES.title' | translate }}
				</ion-label>
				<ion-select 
					name="selected"
					[(ngModel)]="category"
					mode="md"
					color="primary"
					(ionChange)="changeCategory($event)"
					interface="action-sheet"
					class="category-label"
					cancelText="{{ 'CATEGORIES.cancel' | translate }}">
					<ion-select-option *ngFor="let category of categories" value="{{category}}">{{category}}</ion-select-option>
				</ion-select>
			</ion-item>

	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="ion-no-padding">
		<ion-row>
			<ion-col size="12" size-sm="8" size-ms="8" size-xl="6" offset-sm="2" class="ion-no-padding">
	
				<app-page-refresh slot="fixed" (ionRefresh)="onRefresh($event)"></app-page-refresh>
				<app-progress-bar *ngIf="data === undefined"></app-progress-bar>
	
				<!--list of news articles by category-->
				<div class="wrapper">
					<div *ngFor="let article of data?.articles"
						(click)="onGoToNewsDetail(article)"	router-direction="forward">
						<app-article-list [article]="article"></app-article-list>
					</div> 
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
