main {
	background: white;
}

ion-text {
color: var(ion-color-primary);
}

ion-segment-button {
    background-color: var( --ion-color-primary) !important;
    color: white !important;
}

.segment-button-checked {
    color: var( --ion-color-tertiary) !important;
}