<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- add pull-to-refresh functionality -->
	<ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
		<app-page-refresh></app-page-refresh>
	</ion-refresher>
  <ion-slides *ngIf="storageService.news.length === 0" [options]="sliderOptions">
    <ion-slide>
      <ion-label>No favorites</ion-label>
    </ion-slide>
	</ion-slides>
	
	<!--list of news articles-->
	<ion-card class="articles" color="secondary" >
		<ion-list *ngFor="let article of storageService.news" style="padding: 0;" (click)="onGoToNewsDetail(article)" router-direction="forward">
			<app-article-list [article]="article"></app-article-list>
		</ion-list>
	</ion-card>
</ion-content>
