<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>{{ 'FAVOURITES.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<app-page-refresh slot="fixed" (ionRefresh)="onRefresh($event)"></app-page-refresh>
	<app-progress-bar *ngIf="storageService.news === undefined"></app-progress-bar>

	<!--ion-card displays if no favourites-->
	<ion-card *ngIf="storageService.news.length === 0">
			<img src="../../../assets/newspapers.jpg" />
		<ion-card-content>
			<h2 text-center>{{ 'FAVOURITES.notice' | translate }}</h2>
		</ion-card-content>
	</ion-card>

	<!--list of news articles with rhs slide to delete from favourites-->
	<ion-card *ngIf="storageService.news.length > 0" class="articles" color="secondary" >
		<ion-list>
			<ion-item-sliding *ngFor="let article of storageService.news" style="padding: 0;" 
				(click)="onGoToNewsDetail(article)" router-direction="forward" #slidingItem>
				<app-article-list [article]="article"></app-article-list>
				<ion-item-options>
					<ion-item-option
						color="danger"
						(click)="onRemoveFavourite(article, slidingItem)">
						<ion-icon name="trash" slot="icon-only"></ion-icon>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</ion-card>
</ion-content>
