ion-icon {
	color: var(--ion-color-secondary);
}

ion-image {
	width: 100%;
}

.small-text {
	color: var(--ion-color-secondary);
}

.footer-text {
	font-size: 12px;
}

ion-list {
	padding: 16px;
}

ion-list-header {
	padding: 0 0 8px;
	font-size: 18px;
}

ion-button {
	color: var(--ion-color-secondary);
	padding-left: 6px;
}

ion-footer {
	background-color: var(--ion-color-primary);
}