ion-icon {
	color: var(--ion-color-tertiary);
}

.small-text {
	color: var(--ion-color-tertiary);
}

ion-list {
	padding: 8px 8px;
}

ion-list-header {
	padding: 0;
}

ion-button {
	color: var(--ion-color-contrast);
}
