<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
			<!-- <ion-menu-button></ion-menu-button> -->
			<ion-back-button text="" defaultHref="app/tabs/news" router-direction="back"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="article.source.name">News from: {{ article.source.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
	<ion-card no-padding>
		<ion-img [src]="article.urlToImage"></ion-img>
		<ion-card-content no-padding>
  		<ion-list>
				<ion-list-header>{{ article.title }}</ion-list-header>
				<ion-text *ngIf="article.description">{{ article.description }}</ion-text>
				<ion-text *ngIf="article.content">{{ appendString(article.content) }}
					<br><span class="small-text">{{ article.publishedAt | dateConvert }}</span>
				</ion-text>
			</ion-list>
		</ion-card-content>
		<ion-footer>
			<ion-toolbar no-padding>
				<ion-buttons>

		 			<ion-button
					 	href="{{article.url}}"
					 	target="_blank"
						size="small"
						icon-left>	
						<ion-icon name="eye"></ion-icon>
						<div>&nbsp;View source</div>
					</ion-button>
					
					<ion-button
						*ngIf="!isFavourite(article)"
						(click)="onAddToFavourites(article)"
						size="small"
						icon-left>
						<ion-icon name="heart"></ion-icon>
						<div>&nbsp;Save article</div>
					</ion-button>
					<ion-button
						*ngIf="isFavourite(article)"
						(click)="onRemoveFromFavourites(article)"					
						size="small"
						icon-left>
					<ion-icon name="heart-dislike"></ion-icon>
					<div>&nbsp;Remove article</div>
				</ion-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-footer>
	</ion-card>
	<ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
		<ion-fab-button>
			<ion-icon name="share"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="start">
			<ion-fab-button color="light" (click)="openSocial('Vimeo', fab)">
				<ion-icon name="logo-vimeo"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="light" (click)="openSocial('Google+', fab)">
				<ion-icon name="logo-googleplus"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="light" (click)="openSocial('Twitter', fab)">
				<ion-icon name="logo-twitter"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="light" (click)="openSocial('Facebook', fab)">
				<ion-icon name="logo-facebook"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>
</ion-content>
