<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
			<!-- <ion-menu-button></ion-menu-button> -->
			<ion-back-button text="" defaultHref="app/tabs/news" router-direction="back"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="article.source.name">{{ 'NEWS-DETAIL.title' | translate }} {{ article.source.name }}</ion-title>
	</ion-toolbar>
	<ion-img
		class="detail-img"
		[src]="article.urlToImage">
	</ion-img>
	<ion-fab 
		vertical="bottom"
		horizontal="end"
		slot="fixed"
		#fab>
		<ion-fab-button color="light">
			<ion-icon color="secondary" name="share"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="start">

			<ion-fab-button color="light" (click)="openSocial('Vimeo', fab)">
				<ion-icon name="logo-vimeo"></ion-icon>
			</ion-fab-button>

			<ion-fab-button color="light" (click)="openSocial('Google+', fab)">
				<ion-icon name="logo-googleplus"></ion-icon>
			</ion-fab-button>

			<ion-fab-button color="light" (click)="openSocial('Twitter', fab)">
				<ion-icon name="logo-twitter"></ion-icon>
			</ion-fab-button>

			<ion-fab-button color="light" (click)="openSocial('Facebook', fab)">
				<ion-icon name="logo-facebook"></ion-icon>
			</ion-fab-button>

		</ion-fab-list>
	</ion-fab>
</ion-header>

<ion-content no-padding>
	<ion-card no-padding no-margin>
		<ion-card-content no-padding>
  		<ion-list>
				<ion-list-header class="detail-header">{{ article.title | titleNosource }}</ion-list-header>
				<ion-text *ngIf="article.description">{{ article.description }}</ion-text>
				<ion-text *ngIf="article.content">{{ appendString(article.content) }}
					<br><span class="small-text">{{ article.publishedAt | dateConvert }}</span>
				</ion-text>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-tabs>
		<ion-tab-bar>
				<ion-buttons>
						<ion-button
							href="{{article.url}}"
							target="_blank"
						 size="small"
						 icon-left>	
						 <ion-icon name="eye" size="large"></ion-icon>
						 <div class="footer-text">&nbsp;{{ 'NEWS-DETAIL.visit' | translate }}</div>
					 </ion-button>
					 <div fxFlex></div>
					 <ion-button
						 *ngIf="!isFavourite(article)"
						 (click)="onAddToFavourites(article)"
						 size="small"
						 icon-left>
						 <ion-icon name="heart" size="large"></ion-icon>
						 <div class="footer-text">&nbsp;{{ 'NEWS-DETAIL.favourite' | translate }}</div>
					 </ion-button>
					 <ion-button
						 *ngIf="isFavourite(article)"
						 (click)="onRemoveFromFavourites(article)"					
						 size="small"
						 icon-left>
						 <ion-icon name="heart-dislike"></ion-icon>
						 <div class="footer-text">&nbsp;Remove article</div>
					 </ion-button>
				 </ion-buttons>
		</ion-tab-bar>
	</ion-tabs>


</ion-content>
