<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="news">
      <ion-icon name="list" size="large"></ion-icon>
      <ion-label >{{ 'TASK-BAR.news' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="options" size="large"></ion-icon>
      <ion-label class="tab-label">{{ 'TASK-BAR.categories' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <ion-icon name="heart" size="large"></ion-icon>
      <ion-label>{{ 'TASK-BAR.favourites' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle" size="large"></ion-icon>
      <ion-label>{{ 'TASK-BAR.about' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
