<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="list-box" size="large"></ion-icon>
      <ion-label >News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="options" size="large"></ion-icon>
      <ion-label class="tab-label">Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <ion-icon name="heart" size="large"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle" size="large"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
