.tabbar {
  justify-content: center;
}

.tab-button {
  max-width: 200px;
}

// .tab-icon {
// 	color: var(--ion-color-primary);
// }

// .tab-label {
// 	color: var(--ion-color-primary);
// }

/* Style the active class (and buttons on mouse-over) */
.active {
  color: var(--ion-color-secondary);
}