ion-card-title {
	color: var(--ion-color-dark);
}

.about-header {
  background-color: var(--ion-color-dark);
  padding: 16px;
  width: 100%;
  height: 30%;
  text-align: center;
}

.about-header img {
	width: 100%;
	height: 100%;
	max-height: 30vh;
	object-fit: cover;
}

p {
	width: 100%;
  color: var(--ion-color-dark);
	text-align: justify;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
}

.p_standout {
	color: var(--ion-color-primary);
}

a:link {
	color: var(--ion-color-secondary);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: var(--ion-color-secondary-shade);
	background-color: transparent;
	text-decoration: underline;
}

a:hover, a:active {
	color: var(--ion-color-secondary-shade);
	background-color: transparent;
	text-decoration: underline;
}

h6 {
	color: var(--ion-color-primary);
	text-decoration: underline;
	margin-bottom: 5px;
}

.image-div {
  position: relative;
  text-align: center;
  color: white;
}

.mat-card-image {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: rgb(245, 200, 241);
}

/* Bottom right text */
.photo-credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.55); /* Black background with 0.5 opacity */
  color: white; /* Grey text */
  padding-left: 4px;
  padding-right: 4px;
}