ion-card-title {
	color: var(--ion-color-dark);
}

.about-header {
  background-color: var(--ion-color-dark);
  padding: 16px;
  width: 100%;
  height: 30%;
  text-align: center;
}

.about-header img {
	width: 100%;
	height: 100%;
	max-height: 30vh;
	object-fit: cover;
}

p {
	width: 100%;
  color: var(--ion-color-dark);
	text-align: justify;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
}

.p_standout {
	color: var(--ion-color-primary);
}

a:link {
	color: var(--ion-color-succes);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: var(--ion-color-tertiary);
	background-color: transparent;
	text-decoration: none;
}

a:hover, a:active {
	color: var(--ion-color-secondary);
	background-color: transparent;
	text-decoration: none;
}

h6 {
	color: var(--ion-color-primary);
	text-decoration: underline;
	margin-bottom: 5px;
}

// .ios .about-info {
//   text-align: center;
// }