/* Coolors Exported Palette - coolors.co/424b54-00ea6f-28afb0-eb9486-bdadea */

/* HSL */
$color1: hsla(210%, 12%, 29%, 1);
$color2: hsla(148%, 100%, 46%, 1);
$color3: hsla(180%, 63%, 42%, 1);
$color4: hsla(8%, 72%, 72%, 1);
$color5: hsla(256%, 59%, 80%, 1);

/* RGB */
$color1: rgba(66, 75, 84, 1);
$color2: rgba(0, 234, 111, 1);
$color3: rgba(40, 175, 176, 1);
$color4: rgba(235, 148, 134, 1);
$color5: rgba(189, 173, 234, 1);