.active {
  color: var(--ion-color-primary);
  ion-icon {
    color: var(--ion-color-secondary);
	}
}


// .menuIconNews {
// 	// color: var(--ion-color-dark);
// 	color: var(--ion-color-light-contrast);
// }

// .menuIconCategories {
// 	// color: darkgreen;
// 	color: var(--ion-color-light-contrast);
// }

// .menuIconFavourites {
// // color: darkred;
// 	color: var(--ion-color-light-contrast);
// }

// .menuIconAbout {
// 	// color: darkolivegreen;
// 	color: var(--ion-color-light-contrast);
// }

ion-list-header .small-text {
	color: var(--ion-color-secondary)
}

.iconGlobe {
	color: var(--ion-color-success)
}

ion-toggle {
	color: var(--ion-color-secondary);
}
