<ion-app>
  <ion-split-pane>

    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list>
          <ion-list-header>
            <h5>Navigate</h5>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root">
              <ion-icon slot="start" [name]="p.icon" [class]="p.menuIcon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
				
				<ion-list>
					<ion-list-header>
						<h5>Settings</h5>
					</ion-list-header>

					<ion-item>
						<ion-icon name="globe" slot="start" class="iconGlobe"></ion-icon>
						<ion-label>Change language</ion-label>
						<ion-select>
							<ion-select-option option value="English" selected>EN</ion-select-option>
							<ion-select-option option value="Spanish" selected>SP</ion-select-option>
							<ion-select-option option value="French" selected>FR</ion-select-option>
						</ion-select>
					</ion-item>
						
					<ion-item (click)="themeService.changeThemeMode()">
						<ion-icon name="contrast" slot="start"></ion-icon>
						<ion-label>Dark mode</ion-label>
						<ion-toggle slot="end" [(ngModel)]="darkMode"></ion-toggle>
					</ion-item>

				</ion-list>
        
			</ion-content>

    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>
